/DeepLearning/bin/Debug/netcoreapp3.1/*.json
/DeepLearning/bin/Debug/netcoreapp3.1/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/*.exe
/DeepLearning/bin/Debug/netcoreapp3.1/*.pdb
/DeepLearning/bin/Debug/netcoreapp3.1/Properties/*.json
/DeepLearning/bin/Debug/netcoreapp3.1/cs/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/de/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/es/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/fr/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/it/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/ja/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/ko/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/pl/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/pt-BR/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/ru/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/tr/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/zh-Hans/*.dll
/DeepLearning/bin/Debug/netcoreapp3.1/zh-Hant/*.dll
/DeepLearning/obj/Debug/netcoreapp3.1/*.cs
/DeepLearning/obj/Debug/netcoreapp3.1/*.cache
/DeepLearning/obj/Debug/netcoreapp3.1/*.CopyComplete
/DeepLearning/obj/Debug/netcoreapp3.1/*.txt
/DeepLearning/obj/Debug/netcoreapp3.1/*.dll
/DeepLearning/obj/Debug/netcoreapp3.1/*.exe
/DeepLearning/obj/Debug/netcoreapp3.1/*.pdb
/DeepLearning/obj/Debug/netcoreapp3.1/staticwebassets/*.cache
/DeepLearning/obj/Debug/netcoreapp3.1/staticwebassets/*.xml
/DeepLearning/obj/*.cache
/DeepLearning/obj/*.json
/DeepLearning/obj/*.props
/DeepLearning/obj/*.targets
